.header{
    background-image: url('../../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 calc((100% - 1440px) / 2) 0;
}
@media screen and (max-width: 600px) {
    .header{
        background-position: center center;
    }
}